<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chuveiro Inteligente</title>
  <!-- Incluindo o Bootstrap (CSS e JS) -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
    body {
      background-color: #f8f9fa;
    }

    .container {
      margin-top: 50px;
    }
  </style>
</head>
<body>
    <div class="container" style="text-align: center;">

        <h2>Identifique-se</h2>
        <form action="/login" method="post">
            <table align="center">
                <tr>
                    <td>Usuário</td>
                    <td><input type="text" name="edtUsuario" class="form-control"></td>
                </tr>
                <tr>
                    <td>Senha</td>
                    <td><input type="password" name="edtSenha" class="form-control"></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center"><input type="submit" value="Entrar" class="btn btn-primary"></td>
                </tr>
            </table>
        </form>
    </div>
    </body>
</html>

<!--

            <table>
                <tr>
                    <td>Usuário</td>
                    <td><input type="text" name="edtUsuario" class="form-control"></td>
                </tr>
                <tr>
                    <td>Senha</td>
                    <td><input type="password" name="edtSenha" class="form-control"></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center"><input type="submit" value="Entrar" class="btn btn-primary"></td>
                </tr>
            </table>



-->